.incredible-product-list .product{
    background-color: white;
    margin: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    min-height: 400px;
    width:250px;
}
.incredible-product-list .product .title {
    color: #333 !important;
    font-size: 14px !important;
    text-align: center;
    margin-top: 20px;
    font-family:inherit !important;
}
.incredible-product-list .v-slide-group__prev .v-icon{
    color: white !important;
    font-size:35px !important;
}
.incredible-product-list .v-slide-group__next .v-icon{
    color: white !important;
    font-size:35px !important;
}
.incredible-product-list .discount-badge {
    left: 0px;
    top: 0px;
    font-size: 15px !important;
    position: relative;
    padding: 5px 10px;
    color: white !important;
    background: #ef5662;
    line-height: 1.222;
    border-radius:8px;
    -webkit-border-radius:8px;
    margin-right:10px;
}
.product_offer_div{
    height: 47px;
    margin-bottom: 5px;
}
.offer_box{
    display:inline-flex;
    justify-content: space-between;
    width:90%;
    margin-right:5%;
    border-bottom: 1px solid #fb3449;
    font-size:13px;
}
.offer_box .c-counter{
    font-size:18px !important;
    color: #fb3449 !important;
}
.offer_box img{
    margin-right:0px !important;
    margin-top:30px !important;
    height:19px !important;
    margin-bottom:20px !important;
}
.product_offer_box{
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid #fb3449;
    font-size: 12px;
    align-items: center;
}
.product_offer_box img{
    margin-right:10px !important;
    height: 15px !important;
    margin-top: 10px !important;
    margin-bottom:10px !important;
}
.product_offer_box .c-counter{
    font-size: 15px;
    color: #fb3449 !important;
    margin-top: 0px !important;
}
.product_offer_box .c-counter span{
    width: 25px;
    display: block;
    text-align: center;
    margin-top: 2px;
}
.incredible-product-list .v-slide-group__content{
    white-space: normal !important;
}
.counter_box{
    text-align: center;
    color: red;
    margin-top:10px;
}
.counter_box .v-icon{
    color: red;
}
@media (max-width:960px) {
    .incredible-product-list .v-slide-group__next{
        display: none !important;
    }
    .incredible-product-list .v-slide-group__prev{
        display: none !important;
        width:220px !important;
    }
    .incredible-product-list .product{
        min-height: 320px !important;
        border-radius: 5px;
        -webkit-border-radius: 5px;
    }
    .incredible-product-list .counter_box{
        text-align: left !important;
        margin-top: 10px;
    }
}
