.question_div{
    border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow:0px 2px 3px rgba(0, 0, 0, 0.09);
    color:#444d4d;
    font-size: 15px;
    margin-top: 20px;
    min-height: 160px;
}
.question_div_header{
    background-color: #f6f8fa;
    padding:0px  18px;
    display: inline-flex;
    justify-content: space-between;
    color: black;
    width: 100%;
    border-top-right-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    -webkit-border-top-left-radius: 4px;
    cursor: pointer;
    align-items: center;
}
.question-pending-approval{
    background-color:#fff3f4 !important;
    color: #fb3449 !important;
}
.question_content{
    padding: 18px;
    list-style:none;
    line-height: 30px;
}
.question_div .main{
    padding: 20px;
    margin: 20px 10px;
    border:1px dashed #8b8b8c;
    line-height: 25px;
}
.attached-file{
    border-top:1px solid rgba(0, 0, 0, 0.09);
    padding-top: 10px;
    margin-top: 20px;
}
.question_div .main p{
    font-size: 17px !important;
}
.answer_div{
    display: none;
}
.question_footer{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px 10px 5px 10px;
    font-size: 14px;
    border-top:1px solid #e0e1e2;
    margin-top: 20px;
}
.question_footer a{
    color:#1ca2bd !important;
}
.add_answer{
    color:#1ca2bd !important;
    cursor: pointer;
    border-bottom: 1px dashed #1ca2bd;
}
.question_content textarea{
    width: 100%;
    height: 150px;
    padding: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    border:1px solid #e0e1e2;
}
.textarea{
    width: 100%;
    height: 150px;
    padding: 10px;
    border:1px solid #e0e1e2;
    margin-top:15px;
    margin-bottom:5px;
}
.answer_btn{
    margin-top: 10px;
    color: white !important;
    cursor: pointer;
}
